body {
display: flex;
padding: 0;
margin: 0;
}

.left-side {
	height: 100vh;
	width: 40%;
	background-image: url("green.jpg"); 
	background-size: cover;
}
h1.logo {
	color: white;
	background-color: rgba(0, 0, 0, .5);
}

.right-side {
	width: 100%;
	background-color: #eee;

}
.form-container {
	display: flex;
	background-color: white;
	box-shadow: 1px 3px 5px 0px #C4C4C4;;

}

input {
	width: 100%;
}
form {
	display: flex;
}

.form-right, .form-left {
display: flex;
flex-direction: column;
width: 50%;
margin: 15vh;
}

button {
	background-color: #596D48;
}
 